body{
    font-family:serif;
}


/* HEADER SECTION */
.inner-header{
    width:80%;
    margin:auto;
   }

    h1{
        font-size: 3.8rem;

    }

   .nav-link {
    font-size: 1.2rem;
    color: rgb(0, 195, 255);
  }


   .navbar-brand{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Sacramento', cursive;
    /* color: rgb(0, 195, 255); */
    padding-left: 80px;
    background-image: linear-gradient(45deg, #3532df, #000000);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
   }

   nav{
       height:auto;
       /* background-color: #fdce42; */
   }

   .navbar-nav{
       padding-right: 80px;
   }
   .nav-item{
    font-size:20px;
    padding: 0 40px;
    font-family:serif;
   }


   /* BANNER SECTION */

   .resume_heading{
       text-align: center;
       margin-top: 2%;
   }

   .resume{
    height:2050px;
    border:4px solid #000;
    margin:2% 5% 1% 5%;
   }

   .heading{
       background-image: linear-gradient(to right, rgb(93, 199, 248), rgb(245, 165, 238));
       /* background-color: red; */
   }

   .heading{
    text-align: center;
    padding: 5%;
    margin-bottom:0 ;
    display:block;
    border:4px solid #000;
    border-top-style:none;
    border-left-style: none;
    border-right-style: none;
    font-family:'Averia Serif Libre', cursive ;
   }


   .inner-resume{
       margin:2%;
       padding: 7%;
       background-color: rgb(245, 214, 247);
   }

   .skills{
       text-align: justify;
       /* margin-left: 15%; */
   }
   .profileH, .proH, .personalH,.eduH, .certiH, .acaH, .personalH, .languageH, .contH{
       color:red;
       font-family: 'Averia Serif Libre', cursive;
   }

   .up{
       /* position: absolute;
       left:50%;
       right: 50%; */
       padding: 2% 50% 2% 50%;
    }




  /* MEDIA QUERIES */

  @media(max-width:500px){
    .resume{
        height:2516px;
        border:4px solid #000;
        margin:2% 5% 1% 5%;
       }
  }

  @media(max-width:768px){
    .resume{
        height:2224px;
        border:4px solid #000;
        margin:2% 5% 1% 5%;
       }
 }

  @media(max-width:1024px){
    .resume{
        height:1959px;
        border:4px solid #000;
        margin:2% 5% 1% 5%;
       }
}

  @media(max-width:1200px){
    .resume{
        height:2518px;
        border:4px solid #000;
        margin:2% 5% 1% 5%;
       }
}
